.video-container {
    width: 100%;
    height: auto;
    margin-top: 100px;
    padding: 10px 70px 20px 70px;
    float: left;
    z-index: 0;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(34,31,31,1) 10%);
}